{% extends 'templates/default.twig' %}

{% block title %}Notificatie verzenden{% endblock %}
{% block pageTitle %}Notificatie verzenden{% endblock %}

{% block content %}
    <form id="notification-form" action="" method="post" autocomplete="off">
        <div class="form-group">
            <label for="body">Inhoud</label>
            <textarea name="body" id="body" class="form-control" placeholder="Hou het bericht zo kort mogelijk!"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Verzenden" class="btn btn-primary form-control"/>
        </div>
    </form>
{% endblock %}

{% block scripts %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        $('#notification-form').submit(function(event) {
            var bodyElement = $('#body');
            var bodyValue = bodyElement.val().trim();

            if (bodyValue.length > 0) {
                axios.post('{{ apiUrl }}notifcations', {
                    title: '{{ rdTitle }}',
                    topic: '{{ rdTopic }}',
                    body : bodyValue
                }).then(function(response) {
                    alert('Notificatie verzonden!');
                    bodyElement.val('');
                }).catch(function(error) {
                    alert('Notifcatie kon niet worden verzonden.');
                    console.log('Error:', error);
                });
                event.preventDefault();
            }
            else {
                alert('Alle velden zijn vereist!')
            }
        });
    </script>
{% endblock %}